@use "styles/mixins" as *;

.advantagesRoot {
  @include container;

  padding-top: rem(45);
  padding-bottom: rem(70);

  h2 {
    font-size: 3rem;
    line-height: 1.2;
    color: var(--text-color);
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, rem(600));
    justify-items: center;
    justify-self: center;
    gap: rem(60);

    margin-top: rem(60);

    .card {
      width: rem(600);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(20);

      padding: var(--spacing-x3);
      border-radius: var(--m-rounding);

      background-color: #fcfcfc;
      transition: scale 200ms ease;

      h3 {
        font-size: 2rem;
        line-height: 1.2;
        text-align: center;
        color: var(--text-color);
        font-weight: 600;
      }

      p {
        font-size: 1.5rem;
        text-align: center;
        text-wrap: balance;
        font-weight: 500;
      }

      .icon {
        height: rem(70);
        width: rem(70);
      }

      &:hover {
        scale: 1.1;
      }
    }
  }
}
