.headerRoot {
  position: sticky;
  top: 0;
  z-index: 100;

  border-bottom: rem(5) solid rgb(107, 118, 246);
}

.header {
  @include container;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    gap: rem(10);

    p {
      color: #80d07c;

      font-size: 2.8rem;
      font-weight: 800;
    }

    .logoWrapper {
      height: rem(100);
      width: rem(100);

      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .right {
    .nav {
      height: 100%;
      .list {
        height: 100%;
        display: flex;
        align-items: center;
        gap: rem(40);

        .listItem {
          color: rgb(107, 118, 246);
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
  }
}
