@use "styles/mixins" as *;

.welcomingRoot {
  color: #fffbfb;

  padding: rem(50) rem(90) rem(63);
  text-align: center;

  border-bottom: rem(30) solid #80d07c;

  h1 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 700;
  }
  h2 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    color: #ffebfe;
  }
  p {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 500;
    text-wrap: balance;

    margin-top: rem(50);
    width: 50%;
    justify-self: center;
  }
}

@include mobile {
  .welcomingRoot {
    h1 {
      font-size: 4rem;
      line-height: 1;
      font-weight: 700;
    }
    h2 {
      font-size: 3rem;
      line-height: 1;
      margin-top: rem(30);
    }
    p {
      font-size: 2rem;
      line-height: 1.3;

      margin-top: rem(30);
      width: 100%;
    }
  }
}
